:root {
  --pedal-width: 550px;
  --pedal-height: 190px;
}
  
body {
  margin: 0;
}

.pedal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /*background: linear-gradient(#02094e, #061482);*/
  background: #02094e;

  background-repeat: no-repeat;
  background-size: var(--pedal-width), var(--pedal-height), auto;
  height: var(--pedal-height);
  width: var(--pedal-width);
  min-width: var(--pedal-width);
  border-radius: 18px;

  font-family: "cooper hewitt", Sans-serif;
  font-weight: 500;
  text-align: center;
}

.footswitch {
  display: flex;
  flex-direction: row;
}

.footswitch input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.footswitch input[type="radio"] + span::before {
  /** Based on https://pedalboard.netlify.app/ */
  -webkit-tap-highlight-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #FFF;
  box-shadow: inset 0 0 0 10px #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
  border: 1px solid #BBB;
  display: block;
  cursor: pointer;
  
  content: "";
  cursor: pointer;

  margin: 0 auto;
  transition: box-shadow .4s;
}

.footswitch input[type="radio"]:checked + span::before {
  background-position-y: bottom;
  border-color: var(--tetr4-switch-slider-background-on);
  box-shadow: inset 0 0 0 10px var(--tetr4-switch-slider-background-on);
}

.footswitch-label {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 4px;
  display: block;
  background-color: var(--tetr4-switch-slider-background-off);
  color: #222;
  text-shadow: none;
  box-shadow: inset 0 0 2px black;
  border: none;
}

.footswitch input[type="radio"]:checked + .footswitch-label {
  background-color: var(--tetr4-switch-slider-background-on);
}

