:root {
  --tetr4-switch-width: 550px;
  --tetr4-switch-height: 230px;
}

.tetr4-switch {
  text-shadow: 0 0 1px black;

  padding: 16px;
  margin: 0px;

  display: block;
  color: #ddd;
  position: relative;

  font-family: monospace;

  color: #eee;
}

.tetr4-switch .footer,
.tetr4-switch .dips {
  display: flex;
  justify-content: space-around;
}

.tetr4-switch .footer {
  margin-top: 8px;
}

.tetr4-switch .name {
  text-shadow: 0 0 2px black;
  font-weight: bold;

  font-family: monospace;
  margin-top: -10px;
  text-align: center;
  width: 100%;
}

.tetr4-switch .group1 {
  --tetr4-switch-slider-background-on: #ff6667;
}
.tetr4-switch .group2 {
  --tetr4-switch-slider-background-on: #ffff67;
}
.tetr4-switch .group3 {
  --tetr4-switch-slider-background-on: #66ffff;
}
.tetr4-switch .group4 {
  --tetr4-switch-slider-background-on: #bb7cd2;
}


.tetr4-switch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /*background: linear-gradient(#02094e, #061482);*/
  background: #02094e;

  background-repeat: no-repeat;
  background-size: var(--tetr4-switch-width), var(--tetr4-switch-height), auto;
  height: var(--tetr4-switch-height);
  width: var(--tetr4-switch-width);
  min-width: var(--tetr4-switch-width);
  border-radius: 18px;

  font-family: "cooper hewitt", Sans-serif;
  font-weight: 500;
  text-align: center;
}

.tetr4-switch .footswitch {
  display: flex;
  flex-direction: row;

  z-index: 30;
  position: relative;
}

.tetr4-switch .footswitch input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tetr4-switch .footswitch input[type="radio"] + span::before {
  /** Based on https://pedalboard.netlify.app/ */
  -webkit-tap-highlight-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #FFF;
  box-shadow: inset 0 0 0 10px #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%;
  border: 1px solid #BBB;
  display: block;
  cursor: pointer;
  
  content: "";
  cursor: pointer;

  margin: 0 auto;
  transition: box-shadow .4s;
}

.tetr4-switch .footswitch input[type="radio"]:checked + span::before {
  background-position-y: bottom;
  border-color: var(--tetr4-switch-slider-background-on);
  box-shadow: inset 0 0 0 10px var(--tetr4-switch-slider-background-on);
}

.tetr4-switch .footswitch-label {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 4px;
  display: block;
  background-color: var(--tetr4-switch-slider-background-off);
  color: #222;
  text-shadow: none;
  box-shadow: inset 0 0 2px black;
  border: none;
}

.tetr4-switch .footswitch input[type="radio"]:checked + .footswitch-label {
  background-color: var(--tetr4-switch-slider-background-on);
}


/**********************************************************/
/**
 * Based on
 *  - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
 */
:root {
  --tetr4-switch-slider-background-on: #2196F3;
  --tetr4-switch-slider-background-off: #ccc;
  --tetr4-switch-slider-background-off-disabled: #666;
  --tetr4-switch-slider-tick-on: white;
  --tetr4-switch-slider-tick-off: white;
  --tetr4-switch-slider-front: #fff;
  --tetr4-switch-slider-width: 26;
  --tetr4-switch-slider-height: 52;
  --tetr4-switch-slider-border: 4;
}

.tetr4-switch .dip-switch {
  display: flex;
  padding-top: 0;
  /* border: 1px solid var(--tetr4-switch-slider-background-off); */
  transition: border .4s;
}
.tetr4-switch .dip-switch.active {
  /* border: 1px solid var(--tetr4-switch-slider-background-on); */
}

.tetr4-switch .dip-switch legend {
  font-size: .8em;
  margin-bottom: -4px;
  margin-left: -4px;
  padding: 0 4px;

  color: #ccc;
  font-weight: bold;

  border: 0;
}

.tetr4-switch .switch-controller {
  display: inline-flex;
  flex-direction: column;

  z-index: 30;
}
.tetr4-switch .switch-controller .content {
  text-align: center;
  font-size: 12px;
}

.tetr4-switch .switch {
  position: relative;
  display: inline-block;
  width: calc(var(--tetr4-switch-slider-width) * 1px);
  height: calc(var(--tetr4-switch-slider-height) * 1px);
}

.tetr4-switch .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.tetr4-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tetr4-switch-slider-background-off);
  transition: .4s;
  box-shadow: inset 0 0 2px black;
}

.tetr4-switch .slider:before {
  --height-size: calc(var(--tetr4-switch-slider-height) / 2);

  position: absolute;
  content: "";
  height: calc(calc(var(--height-size) - calc(2 * var(--tetr4-switch-slider-border))) * 1px);
  width: calc(calc(var(--tetr4-switch-slider-width) - calc(2 * var(--tetr4-switch-slider-border))) * 1px);
  left: calc(var(--tetr4-switch-slider-border) * 1px);
  bottom: calc(var(--tetr4-switch-slider-border) * 1px);
  background-color: var(--tetr4-switch-slider-tick-off);
  transition: .2s;
  transition-timing-function: ease;
  box-shadow: 0 0 2px #888;
}
.tetr4-switch input:checked + .slider:before {
  background-color: var(--tetr4-switch-slider-tick-on);
}

.tetr4-switch input:checked + .slider {
  background-color: var(--tetr4-switch-slider-background-off-disabled);
  box-shadow: inset 0 0 2px black;
}

.tetr4-switch .active input:checked + .slider {
  background-color: var(--tetr4-switch-slider-background-on);
  box-shadow: inset 0 0 2px black,
              0 0 2px var(--tetr4-switch-slider-background-on);
}

/* .tetr4-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--tetr4-switch-slider-background-on);
} */

.tetr4-switch input:checked + .slider:before {
  --height-size: calc(var(--tetr4-switch-slider-height) / 2);

  transform: translateY(calc(var(--height-size) * -1px));
}
