.pedal.boxy {
  background-position-x: 0, -19px;
  background-position-y: 0, -16px;

  background-repeat: no-repeat;
  background-size: auto;
  /* background-position-x: -19px;
  background-position-y: -16px; */

  border-style: solid;
  border-width: 16px 19px 35px 18px;
  border-image: url('../images/boxy.png') 16 19 35 18;
}

.pedal.boxy .knobs {
  order: 0;
}
.pedal.boxy .logo {
  order: 1;
}
.pedal.boxy .led {
  order: 2;
}
.pedal.boxy .footswitch {
  order: 3;
}
.pedal.boxy .name {
  order: 4;
}

.pedal.boxy .logo {
  border: 4px #000 solid;
  border-radius: 12px;
}
