/**
 * Based on
 *  - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
 */
 :root {
  --tetr4-switch-slider-background-on: #2196F3;
  --tetr4-switch-slider-background-off: #ccc;
  --tetr4-switch-slider-background-off-disabled: #666;
  --tetr4-switch-slider-tick-on: white;
  --tetr4-switch-slider-tick-off: white;
  --tetr4-switch-slider-front: #fff;
  --tetr4-switch-slider-width: 26;
  --tetr4-switch-slider-height: 52;
  --tetr4-switch-slider-border: 4;
}

.dip-switch {
  display: inline-block;
  padding-top: 0;
  border: 2px solid var(--tetr4-switch-slider-background-off);
  transition: border .4s;
}
.dip-switch.active {
  border: 2px solid var(--tetr4-switch-slider-background-on);
}

.dip-switch legend {
  font-size: .8em;
  margin-bottom: -4px;
  margin-left: -4px;
  padding: 0 4px;
}

.switch-controller {
  display: inline-flex;
  flex-direction: column;
}
.switch-controller .content {
  text-align: center;
  font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--tetr4-switch-slider-width) * 1px);
  height: calc(var(--tetr4-switch-slider-height) * 1px);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tetr4-switch-slider-background-off);
  transition: .4s;
  box-shadow: inset 0 0 2px black;
}

.slider:before {
  --height-size: calc(var(--tetr4-switch-slider-height) / 2);

  position: absolute;
  content: "";
  height: calc(calc(var(--height-size) - calc(2 * var(--tetr4-switch-slider-border))) * 1px);
  width: calc(calc(var(--tetr4-switch-slider-width) - calc(2 * var(--tetr4-switch-slider-border))) * 1px);
  left: calc(var(--tetr4-switch-slider-border) * 1px);
  bottom: calc(var(--tetr4-switch-slider-border) * 1px);
  background-color: var(--tetr4-switch-slider-tick-off);
  transition: .2s;
  transition-timing-function: ease;
  box-shadow: 0 0 2px #888;
}
input:checked + .slider:before {
  background-color: var(--tetr4-switch-slider-tick-on);
}

input:checked + .slider {
  background-color: var(--tetr4-switch-slider-background-off-disabled);
  box-shadow: inset 0 0 2px black;
}

.active input:checked + .slider {
  background-color: var(--tetr4-switch-slider-background-on);
  box-shadow: inset 0 0 2px black,
              0 0 2px var(--tetr4-switch-slider-background-on);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--tetr4-switch-slider-background-on);
} */

input:checked + .slider:before {
  --height-size: calc(var(--tetr4-switch-slider-height) / 2);

  transform: translateY(calc(var(--height-size) * -1px));
}